* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    width: 100%;
}

#inner-header {
    width: 97%;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    position: relative;
    background: url('images/header-bg-2.png');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#outer-nav {
    width: 65%;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: solid 1px rgba(255, 255, 255, .1);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo img {
    max-width: 120px;
    height: auto;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
}

.main-menu {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-link {
    height: 100%;
    padding: 0 15px;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #d3d3d3;
    font-size: 14px;
    font-weight: 500;
}

.w-350 {
    width: 350px !important;
}

.w-150 {
    width: 150px !important;
}

.menu-dropdown {
    position: absolute;
    display: none;
    z-index: 10;
    background: #fff;
    color: #666;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .15);
    padding: 25px;
    transition: display 0.5s ease-in-out, transform 0.3s ease-out;
    ;
}

.menu-link:hover+.menu-dropdown,
.menu-dropdown:hover {
    display: block;
    transition: display 0.3s ease-in-out, transform 0.5s ease-out;
    ;
}

.active .menu-link {
    color: #fff;
}

.submenu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.submenu-column {
    width: 50%;
}

.submenu {
    list-style: none;
}

.submenu li {
    padding: 5px 0;
}

.submenu a {
    display: block;
    width: 100%;
}

.submenu a:hover {
    color: rgba(0, 0, 0, .5);
}

.submenu a {
    text-decoration: none;
    color: #000000CC;
    font-size: 14px;
    transition: color 200ms linear;
}

.submenu-column:nth-child(2) {
    border-left: solid 1px rgba(0, 0, 0, .1);
    padding-left: 40px;
}

.auth {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth-btn {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 200ms linear, color 100ms linear;
}

.auth-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #673ab7;
}

.bar-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.bar-menu rect {
    fill: #d3d3d3;
}

.bar-menu:hover rect {
    fill: #fff;
}

#search {
    width: 40%;
    padding: 0 40px;
    margin: 0 auto;
}

#inner-search {
    width: 100%;
    margin: 140px 0;
}

.top-text {
    text-align: center;
}

#search h1 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 10px;
}

#search h4 {
    color: #FFFFFF80;
    opacity: 0.8;
    margin: 10px 0;
    font-size: 20px;
}

.search-box {
    width: 100%;
}

.search-box input {
    width: 100%;
    height: 70px !important;
    border: unset !important;
    padding: 0 20px !important;
    transition: all 300ms linear;
    border-radius: 4px;
    font-size: 19px;
    color: rgb(58, 60, 76);
    font-weight: 400;
}

#search form {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-icon svg circle,
.search-icon svg path {
    stroke: rgb(103, 58, 183);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

#down-arrow {
    position: relative;
    width: 100%;
}

.middle-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    line-height: 38px;
    font-size: 12px;
    text-align: center;
    align-self: center;
}

.middle-button a {
    text-decoration: none;
    color: #673ab7;
}

footer {
    padding: 70px;
    background: #f9f7fc;
}

#inner-footer {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-info {
    text-align: center;
}

.footer-info p {
    color: #3A3C4C;
    font-size: 14px;
    margin-bottom: 20px;

}

.footer-info p:nth-child(2) {
    margin-top: 20px;
}

.social-links {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.social-links a {
    text-decoration: none;
    color: #818892;
    font-size: 14px;
    transition: color 200ms linear;
}

.social-links a:hover {
    color: #3a3c4c;
}

.back-to-top {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.back-to-top a {
    text-decoration: none;
}

.back-to-top a:hover line {
    stroke: #673ab7;
}

.back-to-top a:hover polygon {
    fill: #673ab7;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.footer-menu li:not(:nth-child(1)) {
    border-left: solid 1px #efebf8;
    ;
    padding-left: 20px;
}

.footer-menu a {
    text-decoration: none;
    color: #818892;
}

.footer-menu a:hover {
    color: #3a3c4c;
}

#mini-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: none;
    z-index: 20;
}

#mini-menu {
    position: fixed;
    width: 270px;
    height: 100%;
    background: #3a3c4c;
    box-shadow: -5px 0 15px rgba(0, 0, 0, .1);
    z-index: 30;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: display 0.5s ease-in-out, display 0.5s ease-in-out;
}

#mini-menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    padding: 5px 0;
}

.main-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-menu-sublist {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    margin-left: 15px;
}

.x-button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    align-self: flex-end;
    padding: 20px;
    cursor: pointer;
}

.x-button svg line {
    stroke: #fff;
}

section {
    width: 100%;
    padding: 140px 0;
}

.inner-section {
    width: 65%;
    margin: 0 auto;
    padding: 0 40px;
}

.section-heading {
    text-align: center;
    font-size: 32px;
    color: #673ab7;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-paragraph {
    margin: 20px 0;
    color: #3a3c4d;
    font-size: 16px;
    text-align: center;
}

#article {
    background-color: #f9f7fc;
}

.article-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.article-col {
    width: 30%;
    display: flex;
    padding-left: calc(10% / 3.001);
}

.inner-article-col {
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    padding: 40px;
    align-items: center;
}

.article-icon {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    line-height: 2.8em;
    border: solid 4px #fff;
    display: inline-block;
    color: #673ab7;
    text-align: center;
    box-shadow: 0 0px 15px #efebf8;
    background: #faf9fd;
    font-size: 3em;
}

.article-title {
    color: #673ab7;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    margin: 40px 0 20px 0;
}

.article-title a {
    text-decoration: none;
    color: #673ab7;
}

.article-description {
    color: #818892;
    margin: 10px 0 20px 0;
    font-size: 16px;
    text-align: center;
}

.article-link {
    background-color: #fc6591;
    border-radius: 30px;
    transition: .5s;
    font-weight: bold;
    margin: 20px 0;
    font-size: 14px;
    line-height: 28px;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

#faq .inner-section {
    display: flex;
    flex-direction: row;
}

#left-faq {
    width: 40%;
    padding-left: 40px;
}

#left-faq h2 {
    font-size: 32px;
    color: #673ab7;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

#left-faq p {
    color: #3a3c4d;
    font-size: 16px;
    margin-top: 20px;
}

#faq-questions {
    width: 60%;
    padding-left: 40px;
}

#faq-questions ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

#faq-questions li {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    padding: 20px;
    background: #fff;
    position: relative;
}

#faq-questions li:nth-child(n+2) {
    margin-top: 20px;
}

.accordion-open>.accordion-item {
    display: block !important;
}

#faq-questions a {
    color: #3a3c4c;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
}

#faq-questions a::before {
    content: "";
    width: 1.4em;
    height: 1.4em;
    margin-left: 10px;
    float: right;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.accordion-open>a::before {
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E) !important;
}

#faq-questions ul::before {
    content: "";
    width: 1px;
    background-color: #673ab7;
    height: calc(100% - 60px);
    position: absolute;
    left: -40px;
    top: 30px;
}

#faq-questions li::before {
    content: "";
    position: absolute;
    left: -48px;
    top: 35px;
    background-color: #fff;
    border: 1px solid #673ab7;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    transform: translateY(-50%);
}

.accordion-open::after {
    content: "";
    position: absolute;
    left: -44px;
    top: 35px;
    background-color: #673ab7;
    border-radius: 50px;
    height: 9px;
    width: 9px;
    transform: translateY(-50%);
}

.accordion-open {
    max-height: 1000px;
}

.accordion-item {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    margin-top: 10px;
    transition:
        max-height 300ms ease-in-out,
        opacity 300ms ease-in-out 80ms;
}

.accordion-open>.accordion-item {
    max-height: 1000px;
    opacity: 1;
}

.accordion-collapsing>.accordion-item {
    transition:
        max-height 300ms ease-in-out,
        opacity 300ms ease-in-out 120ms;
}

.accordion-item p {
    width: 100%;
    text-align: left;
    color: #3a3c4c;
    font-size: 16px;
    line-height: 24px;
}

#popular-articles {
    background-color: #f9f7fc;
}


#popular-articles .inner-section,
#latest-articles .inner-section {
    width: 47%;
}

#popular-articles h2,
#latest-articles h2 {
    color: #673ab7;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
}

#popular-articles ul,
#latest-articles ul {
    margin-top: 70px;
    list-style: none;
}

#popular-articles li,
#latest-articles li {
    margin-bottom: 30px;
}

#popular-articles li:nth-child(n+2),
#latest-articles li:nth-child(n+2) {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #efebf8;
}

.p-a-box {
    display: flex;
    flex-direction: row;
}

.p-a-left {
    width: 40%;
}

.p-a-left h3 {
    font-size: 20px;
    color: #673ab7;
    margin-bottom: 10px;
}

.p-a-left h3 a {
    text-decoration: none;
    color: #673ab7;
}

.p-a-left span {
    font-size: 14px;
    color: #999999;
    margin-top: 10px;
}

.p-a-right {
    width: 60%;
    padding-left: 40px;
}

.p-a-right p {
    font-size: 16px;
    color: #3a3c4c;
    line-height: 24px;
}

#contact {
    background-color: #f9f7fc;
}

#contact h2 {
    font-size: 32px;
    color: #3A3C4C;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

.contact-info {
    font-size: 16px;
    color: #3A3C4C;
    text-align: center;
    margin: 20px 0;
}

.contact-btn-wrapper {
    margin-top: 70px;
    text-align: center;
}

.contact-btn {
    background-color: #fc6591;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 0 40px;
    font-size: 14px;
    display: inline-block;
    line-height: 53px;
    transition: .5s;
    font-weight: bold;
}

@media (max-width: 1560px) {
    #search {
        width: 70%;
        padding: 0 20px;
        margin: 0 auto;
    }

    #outer-nav {
        width: 70%;
        padding: 0 20px;
    }

    #inner-search {
        margin: 110px 0;
    }

    #search h1 {
        font-size: 40px;
    }
}

@media (max-width: 1340px) {
    #search {
        width: 80%;
        padding: 0 20px;
        margin: 0 auto;
    }

    #outer-nav {
        width: 80%;
        padding: 0 20px;
    }

    #inner-search {
        margin: 90px 0;
    }

    #search h1 {
        font-size: 38px;
    }
}

@media (max-width: 960px) {
    .bar-menu {
        display: flex;
    }

    .menu {
        display: none;
    }

    .auth-btn {
        display: none;
    }

    #search {
        width: 90%;
        padding: 0 20px;
        margin: 0 auto;
    }

    #outer-nav {
        width: 90%;
        padding: 0 20px;
    }

    #inner-search {
        margin: 70px 0;
    }

    #search h1 {
        font-size: 36px;
    }
}

@media (max-width: 400px) {
    #search {
        width: 90%;
        padding: 0 20px;
        margin: 0 auto;
    }

    #outer-nav {
        width: 90%;
        padding: 0 20px;
    }

    #inner-search {
        margin: 70px 0;
    }

    #search h1 {
        font-size: 36px;
    }

    #mini-menu {
        width: 200px;
    }

    footer {
        padding: 30px;
    }

    footer a {
        font-size: 14px;
    }
}